@model JaspetWEBUI.Core.DTO.LoginDTO

@{
  Layout = "_Layout";
}

<div class="block" style="margin-top: 100px">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex">
                <div class="card flex-grow-1 mb-md-0">
                  <div class="card-body">
                    <h3 class="card-title">Giriş Yap</h3>
                    <form asp-action="Login" asp-controller="Login" method="post" data-dashlane-rid="964a33cd52e67469" data-form-type="login">
                      <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adı" data-dashlane-rid="00a0ef4d170ad5b5" data-form-type="text" data-kwimpalastatus="alive" data-kwimpalaid="1692742565782-0">
                      </div>
                      <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password" data-dashlane-rid="77758616619c0e5b" data-form-type="password" data-kwimpalastatus="alive" data-kwimpalaid="1692742565782-1">
                      </div>
                      <div class="form-group">
                      </div>
                      <button type="submit" class="btn btn-primary mt-4" data-dashlane-label="true" data-dashlane-rid="b69767e95781bf4b" data-form-type="action,login" data-kwimpalastatus="dead">
                        Login
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>